{% extends "base.html" %}

{% block title %}Справка{% endblock %}

{% block content %}
<div class="container mb-3">
    <p>Данная программа является корпусным менеджером русского языка. Реализована на языке Python с использованием библиотек Flask, Jinja, nltk, pymorphy3 и sqlite3.</p>
    <p><strong>Функции:</strong></p>
    <ul>
        <li>построение (<i class="bi bi-tools"></i>) корпуса текстов из папки;</li>
        <li>поиск (<i class="bi bi-search"></i>) слова по его части;</li>
        <li>частотный анализ включения словоформы или леммы;</li>
        <li>частотный анализ частей речи по запросу;</li>
        <li>автоматическое определение части речи, леммы и характеристик словоформы (pymorphy3);</li>
        <li>экспорт результатов поиска в файл .txt (<i class="bi bi-upload"></i>).</li>
    </ul>
</div>
{% endblock %}