<div class="table-responsive">
    <table class="table table-striped" id="wordFeaturesTable">
        <thead>
            <tr>
                <th>Слово</th>
                <th>Лемма</th>
                <th>Часть речи</th>
                <th>Характеристики</th>
            </tr>
        </thead>
        <tbody id="wordFeaturesTableBody">
            {% for word in words %}
            <tr>
                <td>{{ word[0] }}</td>
                <td>{{ word[1] }}</td>
                <td>{{ word[2] }}</td>
                <td>{{ word[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>