<div class="table-responsive">
    <table class="table table-striped" id="wordsTable">
        <thead>
            <tr>
                <th>Слово</th>
                <th>Частота</th>
                <th>Источник</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="wordsTableBody">
            {% for word in words %}
            <tr>
                <td>{{ word[1] }}</td>
                <td>{{ word[2] }}</td>
                <td> <a href="/file/{{word[6]}}">{{word[6]}}</a></td>
                <td>
                    <form id="search-inclusions-form" method="POST" action="{{ url_for('search_inclusions') }}">
                        <input type="hidden" id="concordance_query" name="concordance_query" value="{{ word[1] }}">
                        <input type="hidden" id="book" name="book" value="{{ word[6] }}">
                        <input type="hidden" id="query" name="query" value="{{ query }}">
                        <input type="hidden" id="page" name="page" value="{{ page }}">
                        <input type="hidden" id="is_search" name="is_search" value="{{ is_search }}">
                        <button type="submit" class="btn btn-info">
                            <i class="bi bi-bookmarks"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>